.header {
  display: flex;
  margin-bottom: 24px;
}

.header_cell {
  flex: 1 1;
  padding: 8px 8px 8px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #8e8e8e;
}
.header_cell svg {
  cursor: pointer;
}
