.custom_select {
  position: absolute;
  width: 160px;
  right: 0;
  bottom: 0;
}

.select {
  height: 20px;
  border-radius: 2px;
  background-color: #ffffff;
  color: #000000;
  font-size: 12px;
  align-items: center;
  display: flex;
  font-weight: 100;
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
  justify-content: space-between;
  border: 1px solid #a9b2c2;
}

.select_items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  margin-top: 2px;
  background-color: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.select_items div:hover {
  background-color: #bcc7d2;
}

.select_list {
  padding: 8px 16px;
  cursor: pointer;
}
.select_list p {
  margin: 0;
  font-size: 12px;
  color: black;
}

.select_openList {
  border: 1.5px solid #011e3d;
}
